.pane-container {
	display: flex;
	width: 100%;
	height: calc(100vh - 50px);
	flex-direction: row;
}

.pane {
	display: flex;
	width: 100%;
	padding: 20px;
	flex-direction: row;
	border: solid;
}

.pane-control-panel {
	display: flex;
	flex-direction: row;
	border: solid;
	justify-content: space-between;
}

.pane-control-panel > * {
	display: flex;
	flex-direction: row;
	border: solid;
}

.tab {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.register {
	display: flex;
	flex-direction: column;
	margin: 0px auto;
}

.register > * {
	margin: 10px auto;
}