html {
	background-color: #0f0b03;
	color: #f9f1e4;
}

.App {
	line-height: 1.4;
}

button {
	background-color: #2a2929;
	color: #EEEEEE;
	cursor: pointer;
}

div {
	/* width: 650px;
	margin: 0 auto; */
}

section {
	/* width: 650px;
	margin: 0 auto; */
	border: solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}
