.forum-card {
  border: solid .5px;
  border-color: #FFFFFF;
  margin: 10px 0px;
  padding: 5px;
  cursor: pointer;
  background-color: #3a3431;
  border-radius: 5px;
}

.forum-card > * {
  margin: 5px auto;
  justify-content: center;
}

.forum-card:hover {
  background-color: #000000;
}